$imgPath: "../img";
$fullScreenZIndex: 10000000000;

$defaultTextColor: #dddddd;
$defaultDialogDivider: transparent;
$defaultDropdownBtnBorderColor: #626262;
$defaultSpectrumBorderColor: #161616;
$defaultBoxShadow: 0 0 11px -1px rgba(150, 150, 150, 0.8);
$defaultDropdownMenuSelectedColor: rgba(215, 219, 52, 1);
$defaultDropdownMenuHoverColor: rgba(215, 219, 52, 0.15);
$defaultToolbarBorderColor: #afafaf;
$defaultBorderColorActivated: #5ec6e8;
$defaultFullScreenBackgroundColor: #000;
$defaultBackgroundColor: #2b2b2b;
$defaultTextColorOnHover: #666666;
$defaultBtnWrapperBackground: #3d3d3d;
$defaultToolbarTextColor: #ffffff;
$defaultToolbarIconColor: #bebebe;
$defaultToolbarButtonsBorder: 1px solid #636363;
$defaultInputBackgroundColor: #313131;
$defaultWaitingBarBackgroundColor: rgba(0, 0, 0, 0.6);
$defaultWaitingBarTextColor: #eee;
$defaultWaitingBarDotColor: #ccc;
$defaultDisabledElementColor: #3f3f3f;
$defaultDropdownDisabledColor: #3c3c3c;
$defaultDisabledTextColor: #666666;
$defaultNavigationBtnHoverColor: rgba(226, 226, 226, 0.8);
$defaultNavigationDivHoverColor: rgb(45, 45, 45);

$resizeDelimiterColor: black;
$scrollbarColor: white;
$scrollingPanelColor: blue;
