<div class="scxNavigation">
    <div>
        <span class="scxNavigation-btn scxNavigation-btn-scrollToFirst scx-icon icon-scroll-start" data-i18n="[title]chartNavigation.scrollToFirst"></span>
        <span class="scxNavigation-btn scxNavigation-btn-scrollLeft scx-icon icon-scroll-left" data-i18n="[title]chartNavigation.scrollLeft"></span>
        <span class="scxNavigation-btn scxNavigation-btn-zoomOut scx-icon icon-zoom-out" data-i18n="[title]chartNavigation.zoomOut"></span>
        <span class="scxNavigation-btn scxNavigation-btn-zoomIn scx-icon icon-zoom-in" data-i18n="[title]chartNavigation.zoomIn"></span>
        <span class="scxNavigation-btn scxNavigation-btn-scrollRight scx-icon icon-scroll-right" data-i18n="[title]chartNavigation.scrollRight"></span>
        <span class="scxNavigation-btn scxNavigation-btn-scrollToLast scx-icon icon-scroll-end" data-i18n="[title]chartNavigation.scrollToLast"></span>
    </div>
</div>