/* Instrument search */


@mixin instrumentSearchItemContainer() {
  padding: 0.4166em 0.8333em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scxInstrumentSearchInputField {
  border: $defaultToolbarButtonsBorder;
  background-color: transparent;
  color: #878787;
  width: 4.7em;
  height: 2.142857142857143em;
  padding: 0 0.35714285714285715em;
  border-radius: 0;

  &:hover,
  &.active {
    background-color: $defaultBtnWrapperBackground;
    border-color: $defaultToolbarBorderColor;
  }

  &:focus {
    color: $defaultTextColor;
  }
}

.scxInstrumentSearchNoResults {
  text-align: center;
  font-size: 1em;
  padding: 0.5834em;
  color: #FFFFFF;
}

.scxInstrumentSearchResults {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  z-index: 9999;
  display: none;
  width: 41.6651em;
  font-size: 0.81em;
  text-align: left;
  background-color: $defaultBackgroundColor;
  border: 1px solid $defaultDropdownBtnBorderColor;
  color: #FFFFFF;
  box-shadow: $defaultBoxShadow;

  .scxFullScreen & {
    z-index: $fullScreenZIndex;
  }

  .scxInstrumentSearchItem {

    &.active {
      cursor: pointer;
      background-color: $defaultDropdownMenuHoverColor;
    }

    & > * {
      display: inline-block;
      vertical-align: middle;
    }

    .scxHighlightedText {
      color: #0DA4FA;
    }
  }
}

.scxInstrumentSearchItem_SymbolContainer {
  @include instrumentSearchItemContainer();
  text-overflow: clip;
  overflow: visible;
  width: 5.8333em;
}

.scxInstrumentSearchItem_NameContainer {
  @include instrumentSearchItemContainer();
  width: calc(100% - 5.8333em - 4.6666em);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scxInstrumentSearchItem_ExchangeContainer {
  @include instrumentSearchItemContainer();
  width: 4.6666em;
  text-align: right;
}