/***************************
***                      ***
*** Purple theme settings ***
***                      ***
****************************/

$themeName: "Purple";
$isLightTheme: true;
$textColor: #333;
$dialogDividerColor: transparent;
$dropdownBtnBorderColor: #CCC;
$spectrumBorderColor: #C2C2C2;
$boxShadow: 0 0 11px -1px rgba(150, 150, 150, 0.8);
$dropdownMenuTextColor: #333;
$dropdownMenuActiveBackgroundColor: rgb(232, 232, 232);
$dropDownMenuShadow: 0 1px 10px rgba(0, 0, 0, 0.17);
$dropdownMenuItemTextColor: #000000;
$dropdownMenuSelectedItemTextColor: #4a4a4a;
$dropdownMenuSelectedItemBackgroundColor: #8b5cb1;
$dropdownTextColor: #FFF;
$dropdownIconColor: #4a4a4a;
$dropdownActiveIconColor: #FFF;
$dropdownMenuHoverColor:  #8b5cb1;
$toolbarBorderColor: #8b5cb1;
$borderColorActivated: #704b8f;
$fullScreenBackgroundColor: #856899;
$backgroundColor: #FFF;
$textColorOnHover: #FFF;
$iconColorOnHover: #FFF;
$btnWrapperBackground: #704b8f;
$toolbarTextColor: #555;
$toolbarIconColor: #FFF;
$toolbarButtonsBorderColor: #FFF;
$toolbarButtonToggleBtnColor: #CCC;
$inputBackgroundColor: #FFF;
$waitingBarBackgroundColor: rgba(255, 255, 255, 0.6);
$waitingBarTextColor: #6B6B6B;
$waitingBarDotColor: #A7A7A7;
$disabledElementColor: #EBEBEB;
$dropdownDisabledColor: #EEE;
$disabledTextColor: #AAA;
$contextMenuDisabledTextColor: #CCC;
$navigationBtnHoverColor: #704b8f;
$navigationDivHoverColor: #8b5cb1;
$tabsItemColor: #777;
$tabsActiveItemColor: #333;
$tabsActiveItemHighlightColor: #8b5cb1;
$tabsBottomLineColor: rgba(0, 0, 0, 0.2);
$instrumentSearchTextColor: #FFF;
$timeFramePickerButtonTextColor: #c8c8c8;
$timeFramePickerCustomValueTextColor: #c8c8c8;
$timeFramePickerCustomValueBorderColor: #C2C2C2;
$instrumentSearchResultsBorderColor: #AFAFAF;
$instrumentSearchResultsHighlightedTextColor: #1f9c00;
$popoverArrowColor: rgba(0, 0, 0, 0.30);
$buttonGroupActiveItemTextColor: #333;
$buttonGroupActiveItemBackgroundColor: #E6E6E6;
$contextMenuBorderColor: rgba(0, 0, 0, 0.2);
$contextMenuDividerColor: #CCC;
$colorPickerButtonHoverBorderColor: #7A7A7A;
$colorPickerButtonHoverBackgroundColor: #F5F5F5;
$switcheryBackgroundColor: #FFF;
$switcheryBorderColor: #DFDFDF;
$dialogCloseButtonColor: #000000;
$dialogCloseButtonShadow: 0 1px 0 #FFFFFF;
$indicatorsDialogSearchIconBackgroundColor: #FFF;
$indicatorsDialogSearchIconBorderColor: #B7B7B7;
$numericFieldArrowColor: #333;
$watermarkInfoAndSymbol: rgb(217, 219, 221);
$chartContainerBorder: 1px solid #704b8f;
// Navigation buttons
$navigationBtnColor: #808080;
$navigationBtnColorOnHover: #FFFFFF;
//Chart panel controls
$chartPanelTitleButtonColor: #808080;
$chartPanelTitleButtonColorOnHover: #FFF;
//Scrollbar
$resizeDelimiterColor: #505050;
$scrollbarColor: #e5dfee;
$scrollingPanelColor: #8f809a;